{% extends "accounts/base.html" %}

{% block title %}Sign up to bowdoin.wine{% endblock %}

{% block content %}

<h2>Sign up</h2>
<form method="post" account="{% url 'signup' %}">
	{% csrf_token %}
	{% for field in form %}
	<div class="field">
    {{ field.label_tag }} 
		<span style="color: red;">{{ field.errors }}</span>
		{{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
	</div>
	{% endfor %}
	<button type="submit">Sign Up</button>
</form>

{% endblock %}
